@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    font-family: 'Outfit', sans-serif;
    display: grid;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    background-color: hsl(0, 0%, 100%);
    width: 310px;
}

img{
    width: 276px;
    height: 276px;
    border-radius: 10px;
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 23px;
    color: hsl(218, 44%, 22%);
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%)
}
